<% content_for :header do %>
  <%= javascript_tag do %>
		window.popupPhotos = <%=raw @popupPhotos %>;
	<% end %>
<% end %>

<div class="window-background">
</div> 

<div class="window-container">
	<div class="header-container">
		<nav class="popup-window main-nav-container">
			<!-- <div class="showcase-section"><h1>Section 1: DOM Manipulation</h1>This page is all simple Javascript.  No jQuery, or JS libraries are used. Just me and the DOM.</div> -->
			<ul class="btn-container-horizontal align-top">
				<li class="btn "><a href="#work-history">Work History</a></li>
				<li class="btn "><a href="#accomplishments">Accomplishments</a></li>
				<li class="btn "><a href="#contact">Contact</a></li>
				<li class="btn "><a href="#references">References</a></li>
			</ul>
		</nav>
	</div>
	<div class="body-container">
		<div class="popup-station-container station-container">
			<div class="popup-window sub-window extended-width location">
				<div id="utah" class="dynamic-point world-align-1"></div> 				<!-- // Utah 				-->
				<div id="england" class="dynamic-point world-align-2"></div> 			<!-- // England 		-->
				<div id="argentina" class="dynamic-point world-align-3"></div> 		<!-- // Argentina 	-->
				<div id="iceland" class="dynamic-point world-align-4"></div> 			<!-- // Iceland 		-->
				<div id="fiji" class="dynamic-point world-align-5"></div> 				<!-- // Fiji 				-->
				<div id="thailand" class="dynamic-point world-align-6"></div> 		<!-- // Thailand 		-->
				<div id="nepal" class="dynamic-point world-align-7"></div> 				<!-- // Nepal 			-->
				<div id="ecuador" class="dynamic-point world-align-8"></div> 			<!-- // Ecuador 		-->
				<div id="hawaii" class="dynamic-point world-align-9"></div> 			<!-- // Hawai'i 		-->
				<div id="baja mexico" class="dynamic-point world-align-10"></div> <!-- // Baja Mexico -->
				<div id="peru" class="dynamic-point world-align-11"></div> 				<!-- // Peru 				-->										
				<div id="new england" class="dynamic-point world-align-12"></div> <!-- // New England -->	
				<div id="chile" class="dynamic-point world-align-13"></div> 			<!-- // Chile 			-->
				<p class="floating-banner">All the dots on this map represent places I've lived or traveled. All the photos on this site were taken by me (except the ones of me). One of my goals is to work online and travel the world with the love of my life.</p>
			</div>
			<div class="popup-window sub-window specialty">
				<section>
					<div class="specialty-header">
						<img src="assets/specialty-header-1.jpg" alt="Atlantic Ocean, From Iceland to Boston, MA">
					</div>
					<ul class="dresser">
						<li class="drawer">
							<img src="assets/html5_icon.png">
							<h1>HTML5</h1>
							<span>Experience</span>
							<p>I can write HTML5 and older HTML standards, say for emails. HTML5 isn't so fancy there. I have a broad spectrum of HTML experience, both old school and new.</p>
						</li>
						<li class="drawer">
							<img src="assets/css3_icon.png">
								<h1>CSS</h1>
								<span>Libraries</span>
								<p>I've written CSS/SCSS that has worked in all browsers. I believe, CSS needs to be easily discoverable, modular and consistent. At MondeyDesktop I started writing CSS standards and libraries for the dev. team. </p>
						</li>
						<li class="drawer">
							<img src="assets/javascript_icon.png">
								<h1>JavaScript</h1>
								<span>Raw</span>
								<p>My Javascript mentor had me learn plain Javascript. "What happens when you write 'function', 'new', 'var'?" he would ask. From this core knowledge, I have added jQuery, Underscore, Backbone, RequireJS, & D3.</p>
						</li>
						<li class="drawer">
							<img src="assets/ruby_icon.png">
								<h1>Ruby/Rails</h1>
								<span>Education</span>
								<p>This site is build using Ruby and Rails. I know the basics, but have yet to learn the Tao of Ruby & Rails...but I want to. Ruby-coding is fun, but front-end is my current mastery.</p>
						</li>
					</ul>
				</section>
			</div>
			<div class="popup-window sub-window college">
				<div class="specialty-header blur-scroll">
						<img class="blur-scroll-image" src="assets/green-plant-1.jpg" alt="Banos, Ecuador">
				</div>
				<div class="no-blur-background">
					<span class="title">University of Utah B.A.</span>
					<p>During college I studied Philosophy. I started programming after I graduated. </p>
					<p>I'm naturally curious and chose to study philosophy to change the way I think and reason. It worked. And i'm a better reader, listener, comunicator and thinker because of it.</p>
					<p>I had a class concerning "The philosophy of Language, Mind and Reality" which sparked my interest in linguistics.</p>
					<p>After college, it was my brother who inspired my interest in programming. After a few lessons I knew I had found my passion in the workplace. The only thing left to do was become as valuable as possible through study and experience.</p>
					<span class="quote">Formal education will make you a living; Private education will make you a fortune. Jim Rohn</span>
				</div>
			</div>
			<div class="popup-window sub-window major">
				<div class="popup-header">
					<img src="assets/purple-mountain-1.jpg" alt="Nepal">
				</div>
				<div class="popup-body">
					<ul class="">
						<li class="drawer extended-height">
							<img src="assets/plato.png">
							<h1>Philosophy</h1>
							<span>Wisdom</span>
							<p>Philosophy is born from the love of wisdom. It's not afraid to ask the hard questions or second guess assumptions. Philosophy teaches us to never stop learning and refining our knowledge.</p>
						</li>
						<li class="drawer extended-height">
							<img src="assets/globe.png">
							<h1>Linguistics</h1>
							<span>Speech</span>
							<p>Language is fascinating. It is a reflection of our own selves: free, creative and unlimited. Language is powerful. The production and interpretation of language is rooted in our infinite ability to create.</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="popup-window sub-window work-history">
				Vivint - Current
				Video Production & Web Design
				Vivint's training department recruited me from MoneyDesktop because of my background in front-end web development and videography work. I was given a 37 percent

				I work on Vivint's intranet site dedicated to providing training for +2000 employees.

				MoneyDesktop - Aug. 20
				I was recruited to MoneyDesktop after I attended a URUG (Utah Ruby Users Group) meeting hosted at the MD office in Provo, UT. I worked on the MoneyDesktop app that won 2 Finnovate Best In Show Awards while I was at MD.

				I joined the Front-End team as a HTML/CSS developer. I wrote HTML/CSS that worked in all browsers (IE version 8) and wrote the email templates (a lot of tables and inline CSS).  

				We used Backbone, Require.js, Git, Teabag, Underscore and jQuery. I started learning object oriented javascript.  

				My last project at MD was to take all the existing CSS, write standards, remove duplicates and make the code discoverable (simple) & modular.  I started studying CSS libraries and took the knife to code.  I removed hundreds of lines of code and the app looked pixel perfect. 

				OrangeSoda - 

				Blue Marketing Firm - </div> -->
			<!-- <div class="popup-window sub-window project-gallery"></div> -->
			<div class="popup-window bio">
				<div class="popup-header"><img src="assets/bio-header-1.jpg" alt="Boston, MA"></div>
				<div class="bio-body">
					<div class="img-circle"><img src="assets/bio-1.jpg" alt="Mendoza, Argentina"></div>
					<div class="bio-body-title">
						<span class="title">Taylor Allred</span>
						The major value in life is not what you get. The major value in life is what you become. &nbsp&nbsp&nbsp Jim Rohn
					</div>
						<div class="info-row location popoverButton"><span>Location</span>Utah, USA</div>
						<div class="info-row specialty popoverButton"><span>Specialty</span>Front End Web Development</div>
						<div class="info-row college popoverButton"><span>College</span>University of Utah B.A.</div>
						<div class="info-row major no-border popoverButton"><span>Major</span>Philosophy &amp; Linguistics</div>
				</div>
				<div class="bio-footer">
					<div class="split-half button popoverButton work-history">Work History</div>
					<div class="split-half button popoverButton project-gallery">Project Gallery</div>
				</div>
			</div>
		</div>

		<div class="data-point-container">
			<div class="dynamic-point custom-alignment"></div>
		</div>

	</div>
	</div>
	<div class="work-history-container station-container" id="work-history">
		<div class="title">
			<div class="pre-text">
				<span>Industry</span>
				<span>Education</span>
			</div>
			<div class="curved-text">
				<div id="gear-icon">
					<img src="assets/work-icon-simple.png"/>
				</div>
				<div>
					<span class="l1">W</span>
					<span class="l2">o</span>
					<span class="l3">r</span>
					<span class="l4">k</span>
					<span class="l5">H</span>
					<span class="l6">i</span>
					<span class="l7">s</span>
					<span class="l8">t</span>
					<span class="l9">o</span>
					<span class="l10">r</span>
					<span class="l11">y</span>
				</div>
			</div>
			<div class="post-text">
				<span>Dedication</span>
				<span>Passion</span>
			</div>
		</div>
		<div class="timeline-slider-master-container">
			<div class="timeline-ruler-container">
				<div class="timeline-ruler" id="timeline-ruler">
					<div>2050</div>
					<div>2045</div>
					<div>2040</div>
					<div>2035</div>
					<div>2030</div>
					<div>2025</div>
					<div>2020</div>
					<div>2015</div>
					<div>2014</div>
					<div class="current">2013</div>
					<div>2012</div>
					<div>2011</div>
					<div>2010</div>
					<div>2009</div>
					<div>2008</div>
					<div>2007</div>
					<div>2006</div>
					<div>2005</div>
					<div>2004</div>
					<div>2003</div>
					<div>2002</div>
					<div>2001</div>
					<div>2000</div>
					<div>1990</div>
					<div>1984</div>
					<div>1980</div>
					<div>1975</div>
				</div>
				<div class="timeline-ruler-content" id="timeline-ruler-content">
					<div id="vivint" class="history-marker vivint current-company">Vivint</div>
					<div id="moneydesktop" class="history-marker moneydesktop">MoneyDesktop</div>
					<div id="orangesoda" class="history-marker orangesoda">Orange Soda</div>
					<div id="bluemarketing" class="history-marker bluemarketing">Blue Marketing Firm</div>
					<div id="universityofutah" class="history-marker universityofutah">University Of Utah</div>
				</div>
				<div class="timeline-focus-container">
					<div class="timeline-focus" id="timeline-focus">
						<div>2050</div>
						<div>2045</div>
						<div>2040</div>
						<div>2035</div>
						<div>2030</div>
						<div>2025</div>
						<div>2020</div>
						<div>2015</div>
						<div>2014</div>
						<div class="current">2013</div>
						<div>2012</div>
						<div>2011</div>
						<div>2010</div>
						<div>2009</div>
						<div>2008</div>
						<div>2007</div>
						<div>2006</div>
						<div>2005</div>
						<div>2004</div>
						<div>2003</div>
						<div>2002</div>
						<div>2001</div>
						<div>2000</div>
						<div>1990</div>
						<div>1984</div>
						<div>1980</div>
						<div>1975</div>
					</div>
				</div>
			</div>
		</div>

		<div id="company-display-container" class="body">
		</div>
	</div>
	<div id="project-gallery-container" class="project-gallery-container station-container">
		<div id="project-gallery" class="title"><h1></h1></div>
		<div id="photo-popup-div" class="body"></div>
		<div class="footer-container"></div>
	</div>
	<div class="contact-container-footer station-container grayscale">
		<div id="contact" class="title"><h1>.</h1></div>
		<div class="body">
				<h1>Contact</h1>
			<%= form_tag( {action: 'contact_mailer'}, :remote => false) do %>
				<%= label_tag(:name, 'Name',  :size => '45') %>
				<%= text_field_tag(:name) %>
				

				<%= label_tag(:email) %>
				<%#= email_field(:email, :address) %>
				<%= text_field_tag(:email) %>
				
				<%= label_tag(:message) %>
				<%= text_field_tag(:message) %>
				
				<%= submit_tag('Submit') %>
			<% end %>
			<!-- <form id="contact-form" name="contact"  method="post"> -->
				<!-- <label for="name">Name</label> -->
					<!-- <input type="text" name="name" size="45" id="name"></input></br> -->
				<!-- <label for="email">Email</label>
					<input type="text" name="email" size="45" id="email"></input></br> -->
				<!-- <label for="message">Message</label>
					<input type="textarea" name="message" id="message"></input></br> -->
				<!-- <input type="hidden" for="hidden-testing"></input> -->
				<!-- <input type="submit" value="submit" onclick="verify()"></input> -->
			<!-- </form> -->
			<div class="form-error hidden">
				Each field is required. Please, try again.
			</div>
	</div>
	<div class="footer">

	</div>
	</div>
<!-- 	<div class="references-container station-container">
		<div id="references" class="title"><h1>References</h1></div>
		<div class="body"> </div>
		<div class="footer-container"></div>
	</div> -->
</div>
<div class="contact-container ">Contact<img src="assets/tiger-face.jpg"/ ></div>